.logo { /* logo */
    width: 500px; 
    height: auto;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px auto 40px auto; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto-logo { /* texto logo */
    font-size: 60px;
    margin-top: -10px;
}

.study{ /*cor do study */
    color: #0f2a44;
}

.fokus { /* cor do fokus */
    color: #7cc242;

}

h2 { /* subtitulo */
    color: rgb(103, 103, 103);
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.subtitle {
    color: #64748b;
    margin-bottom: 30px;
    text-align: center;
}

.botao1 { /* cor do botao */
    background-color: rgb(30, 30, 30);
    color: white;
    border: none;
    padding: 25px 45px;
    border-radius: 35px;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 60px;
    margin-top: 150px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao1:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.cards {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
}

.card { /* card */
    width: 260px;
    height: 140px;
    background: linear-gradient(135deg, #06b6d4, #0891b2);
    border-radius: 18px;
    padding: 20px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover { /* animação */
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.iconcard { /* icone do card */
    width: 100px;
    height: auto;
}

.iconcard img { /* icone da imagem */
    width: 120px;
    height: auto;
    object-fit: contain;
    margin-top: -45px;
    margin-left: 180px;
}

.cardtitulo { /* titulo do card */
    font-size: 24px;
    margin-top: 30px;
    font-weight: 600;
}